.container2 {
    height: 500px;
    background-color: #C26C53;
    margin-top: 100px;
    padding: 5px;
}

.ReachContainer {
    background: white;
    height: fit-content;
    border: #344238 solid 15px;
    width: 70%;
    margin: 0 auto;
}


.ReachContainer  p {
    font-size: 1.2rem;
    margin-left: 10px;
    text-align: left;
    color: #1F2D3D;
    font-weight: 800;
    margin-bottom: 20px;
}

.ReachContainer h1 {
    font-size: 5.5rem;
    padding: 15px;
    font-weight: 800;
    color: #1F2D3D;
}


.ReachContainer h2 {
    color: #1F2D3D;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.ReachContainer a {
    text-decoration: none;
    color:black;
}
.ReachContainer a:hover {
    box-shadow: 0 0 20px rgba(8, 17, 12, 0.6)
}




.contactContainer {
    background-color:#1F2D3D;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 700px;
    background: #C26C53;
    margin: auto auto;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(8, 17, 12, 0.6)
}

.container p {
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    font-size: 550;
    margin-bottom: 20px;
    color: white;
    letter-spacing: 1px;

}


.info_container{
    height: 500px;
    width: 100%;
    background-color: white;
    display: flex;
}

.info_img {
    background-image: url('../images/Contact.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 50%;
}

.info_links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    border: solid #1F2D3D 10px;
    width: 50%;

}

.info_links:hover {
    background-color:#1F2D3D;
    border: solid black 10px;
    color: white;
}





.info_links  a {
    list-style: none;
    text-decoration: none;
    color: #C26C53;
}

.logos {
    margin: 0 auto;
}

.logos:nth-child(1) {
    padding: 15px;
    height: 20px;
    width: 20px;
    background-image: url('../images/svg/linkedin-brands.svg');
    background-position: center;
    background-size: cover;

}

.logos:nth-child(2) {
    padding: 15px;
    height: 20px;
    width: 20px;
    background-image: url('../images/svg/github-brands.svg');
    background-position: center;
    background-size: cover;
}
